* {
    font-family: 'Open Sans', 'Consolas';
    outline: none;
    /*
    border-style: solid;
    */
}
body {
    margin: 0px;
}

/* Header */
#headerBox {
    background-color: midnightblue;
    color: rgb(255, 255, 255);

    height: auto;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headerBox p {
    font-size: 34px;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
}

/* Game box */
#gameBox {
    margin: 40px;
    margin-top: 25px;
    border-color: red;

    display: flex;
    justify-content: center;
}
#canvasBox {
    border-color: seagreen;
    margin-right: 30px;
}
#drawCanvas {
    background-color: white;
    display: block;
    margin: 10px;

    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    border-color: black;
}
#penBox {
    background-color: rgb(98, 135, 255);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 7px;
    padding: 7px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.penInputClass {
    /*
    border-style: solid;
    */
    border-color: blue;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#penColorInput {
    width: 70px;
}
.penSizeSlider {
    appearance: none;
    -webkit-appearance: none;
    background: rgb(197, 197, 197);
    opacity: 0.6;
    outline: none;
    height: 6px;
    border-radius: 3px;
    margin-bottom: 7px;
    transition: opacity .2s;
}
.penSizeSlider:hover {
    opacity: 1;
}
.penSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: rgb(80, 80, 80);
    border-radius: 50%;
}

#clearButton {
    background-color: darkgray;
    font-size: 16px;

    width: 150px;
    border: solid 2px rgb(58, 58, 58);
    border-radius: 7px;
    padding: 5px;
    text-align: center;
}
#clearButton:hover {
    background-color: rgb(138, 138, 138);
}
#clearButton:active {
    background-color: rgb(117, 117, 117);
}

/* Chat box */
#chatBox {
    font-size: 14px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 454px;
    justify-content: center;

    border-color: salmon;
}
#chatContainer {
    margin-top: 10px;
    background-color: white;
    width: 450px;
    height: 450px;
    /*
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    */
    overflow-y: scroll;

    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.messageBox {
    word-wrap: break-word;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#chatInput {
    border: solid 2px #000000;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 440px;
    padding: 5px;
    margin-bottom: 10px;
}

/* Game captions */
#gameCaptionDiv {
    background-color: rgb(12, 72, 122);
    border: solid 2px #000000;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
}
.gameCaptionTextbox {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 70%;
}
.smallCaption {
    margin: 0px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
}
.bigCaption {
    margin: 0px;
    padding-right: 5px;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}